/** @format */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
	min-width: 0;
}

h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

body {
	min-height: 100dvh;
	background-color: #3f203ba5;
}

h1 {
	text-align: center;
}

.app_pronter {
	font-family: Arial;
	width: 90%;
	height: 50px;
	border-radius: 10px;
	box-shadow:
		0 0 3px 0 #e96cd9d8,
		inset -1px -1px 3px 0 #af1f9cd8,
		inset 1px 1px 3px 0 #f0abe7d8;
	margin: auto;
	margin-block: 20px;
	padding: 20px;
}

.app_components {
	width: 400px;
	border: 0px solid #40333fd8;
	margin: auto;
	padding-block-end: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.component {
	width: 100%;
}
