/** @format */

.typing {
	width: 100%;
	position: relative;
	border: 2px solid #a10efefb;
	border-radius: 3px;
	box-shadow: 1px 1px 3px 1px #650793fb;
	padding: 10px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.showAchievements {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.achievement {
	border: 2px solid #fed60efb;
	border-radius: 3px;
	box-shadow: 1px 1px 3px 1px #937c07fb;
	padding: 5px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.input {
	margin-inline-end: 5px;
}

.btn {
	padding: 5px;
	font-family: Arial;
	font-weight: bold;
}
