/** @format */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
	min-width: 0;
}

h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

body {
	min-height: 100dvh;
	background-color: #d16ac3fb;
}

.update {
	width: 10px;
	height: 10px;
	background-color: black;
	position: absolute;
	top: 0;
	right: 0;
}

.btn {
	padding: 5px;
	font-family: Arial;
	font-weight: bold;
	margin-inline: 5px;
}

.btn:active {
	transform: scale(0.9);
}

/*.btn:hover {
	transform: scale(0.9);
}*/
