/** @format */

.anotherConf {
	font-family: inherit;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 10px;
	background-color: #7be187;
	border-radius: 10px;
	gap: 10px;

	& fieldset {
		& label {
			width: 100%;
		}
	}
}
