/** @format */

.themeConf {
	font-family: inherit;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 10px;
	background-color: #7ba8e1;
	border-radius: 10px;
	gap: 10px;
}

.themeConf_container {
	background-color: transparent;
	display: flex;
	flex-direction: column;
	width: calc(50% - 10px);

	& fieldset {
		width: 100%;
		display: inherit;
		flex-direction: inherit;
		justify-content: inherit;
		align-items: flex-start;

		& input {
			width: 100%;
			margin-block: 5px;
		}
		& select {
			width: 100%;
		}
	}
}

.themeConf_title {
	text-align: center;
}
