/** @format */

.container-backet-details-product {
	height: 130px;
	padding: 10px;
	margin: 5px;
	border: 1px solid #737373;
	border-radius: 3px;
	box-shadow: 0 1px 5px 0 black;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;

	img {
		mask-image: linear-gradient(black 80%, transparent);
	}

	& > div:last-child {
		width: 100%;
		height: 100%;
		padding: 0px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		> div:nth-child(1) {
			padding-inline: 6px;

			display: grid;
			grid-template-columns: 1fr 50px;
			grid-template-rows: 1fr;
			grid-template-areas: "title check";
			grid-gap: 5px;

			> span {
				grid-area: title;
			}

			> div {
				grid-area: check;
				width: 100%;
				height: 100%;

				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		& > div:last-child {
			padding-inline: 10px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			> button {
				width: 35px;
			}
		}
	}
}
