/** @format */

.container-backet-details {
	height: 370px;
	padding: 15px;
	border: 1px solid blue;
	border-radius: 0 0 5px 5px;
	box-shadow: inset 0 0 5px 1px #00005d;
	
	display: flex;
	flex-direction: column;
	
	>div:nth-child(1) {
		border-bottom: 1px solid #424242;
		padding-inline: 5px;
		padding-block-end: 10px;
		margin-block-end: 10px;
		
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		span {
			font-size: 25px;
			font-weight: 800;
		}
		
		button {
			transform: rotateZ(180deg);
			align-self: end;
			margin-inline-end: 5px;
		}
		
	}
	
	>div:nth-child(2) {
		height: 100%;
		overflow-y: scroll;
		
		>span {
			height: 40px;
			font-size: 25px;
			font-weight: bold;
			text-align: center;
			margin: auto 0;
			background-color: #a8a8a8;
			border: 1px solid #434343;
			border-radius: 3px;
		}
	}
}