/** @format */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
	min-width: 0;
}

h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

body {
	min-height: 100dvh;
	padding: 15px;
	box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

.btn {
	padding: 4px;
}

.btn:hover {
	background-color: #5e7bf8;
	border: 1px solid #646464;
	border-radius: 2px;
}

.btn:active {
	transform: scale(0.9);
}

.btn-remove:hover {
	border: 1px solid #ff7676;
	background-color: red;
}

@media only screen and (min-width: 768px) {
	.btn:hover {
		background-color: transparent;
		box-shadow: inset 0 0 5px blue;
		background-image: linear-gradient(180deg, #0000ffc6 1%, transparent 60%);
	}
}
