/** @format */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
	min-width: 0;
}

h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

body {
	min-height: 100dvh;
	padding: 15px;
	box-sizing: border-box;
}

ul{
	list-style: none;
}

 
.btn {
		padding: 4px;
	}

	.btn:hover {
		background-color: #5e7bf8;
		border: 1px solid #646464;
		border-radius: 2px;
	}
	
	.btn:active {
		transform: scale(0.9);
	}

@media only screen and (min-width: 768px) {
	.btn:hover {
		background-color: blue;
	}
}
