/** @format */
.container {
	border: 1px solid black;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;

	header {
		width: 100%;
		height: 60px;
	}

	main {
		width: 100%;
		height: 400px;

		.products {
			width: 100%;
			height: 100%;
			border: 0px solid red;
			padding-block: 5px;

			display: grid;
			grid-template-rows: 60px 1fr;
			grid-template-columns: 1fr;
			grid-template-areas: "header" "content";
			grid-gap: 5px;

			.header {
				grid-area: header;
				width: 100%;
				height: 100%;
			}

			.content {
				grid-area: content;
				width: 100%;
				height: 100%;
			}
		}

		.detail {
			width: 100%;
			height: 100%;
			border: 0px solid red;
			padding-block: 5px;

			.content {
				grid-area: content;
				width: 100%;
				height: 100%;
			}
		}

		aside {
			width: 100%;
			height: 378px;

			padding-block: 5px;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 60px 1fr 30px;
			grid-template-areas: "divHeader" "divMain" "divFooter";
			grid-gap: 5px;

			& > div:first-child {
				grid-area: divHeader;
				border-radius: 0 0 5px 5px;
				/*	background-color: #91aae3; */
				border: 1px solid blue;
				box-shadow: inset 0 0 5px 1px #00005d;
			}

			& > div:nth-child(2) {
				position: relative;
				grid-area: divMain;
				height: 100%;
				border-radius: 5px 5px 0 0;
				border: 1px solid blue;
				box-shadow: inset 0 0 5px 1px #00005d;
			}

			& > div:last-child {
				grid-area: divFooter;
				border-radius: 0 0 5px 5px;
				border: 1px solid blue;
				box-shadow: inset 0 0 5px 1px #00005d;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	main {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 200px;
		grid-template-areas: section aside;
		grid-gap: 10px;
	}
}
