/** @format */

.option-product-container {
	width: 100%;
	font-size: 12px;
	padding-block-start: 5px;
	padding-inline: 5px;

	:hover {
		background-color: #7b8ee1;
	}

	:active {
		background-color: #0825a2;
	}

	a {
		z-index: 1;
		height: 25px;
		padding-inline: 3px;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repert(1fr 3);
		grid-template-areas: "desc amount delete";

		> span {
			height: 14px;
			align-self: center;
		}

		> span:first-child {
			grid-area: desc;
			width: 80px;

			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		> span:nth-child(2) {
			grid-area: amount;
			width: 80px;
		}
	}

	button {
		position: absolute;
		top: Calc(35px / 2 - 18px / 2);
		right: 5px;
		z-index: 9;
		grid-area: delete;
		align-self: center;
		border: 1px solid #c2c5cc;
		border-radius: 3px;
		height: 18px;
	}

	button:active {
		transform: scale(0.8);
	}

}
